<h1>Editing adress for user <%= @user.id %></h1>

<%= render :partial => 'form' %>

<div class = "btn"><%= link_to 'Show', user_adress_path(@user,@adress) %></div>
<div class = "btn"><%= link_to 'Back', user_adress_path %></div>
